In [1]:
import pandas as pd
import numpy as np

In [17]:
df = pd.read_csv("up_to_8.csv")

In [18]:
df.shape

(1448528, 4)

In [19]:
df["StateRepresentation"] = df["StateRepresentation"].apply(lambda x: np.fromstring(x[1:-1], sep=" "))
df["MovesEncoded"] = df["MovesEncoded"].apply(lambda x: np.fromstring(x[1:-1], sep=" "))

In [20]:
df["hashed"] = df["StateRepresentation"].apply(lambda s: s.tostring())

In [21]:
df.groupby("Value").count()

       StateRepresentation   Moves  MovesEncoded  hashed
Value
-19                     24      24            24      24
-18                     72      72            72      72
-17                    264     264           264     264
-16                   1656    1656          1656    1656
-15                   3456    3456          3456    3456
-14                   7656    7656          7656    7656
-13                  14856   14856         14856   14856
-12                  25584   25584         25584   25584
-11                  39840   39840         39840   39840
-10                  56616   56616         56616   56616
-9                   74664   74664         74664   74664
-8                   93876   93876         93876   93876
-7                  111228  111228        111228  111228
-6                  127680  127680        127680  127680
-5                  145344  145344        145344  145344
-4                  165428  165428        165428  165428
-3                  188200  188200        188200  188200
-2                  201956  201956        201956  201956
-1                  190128  190128        190128  190128

In [22]:
df.Value.mean()

-4.978176466040008

In [23]:
df_2 = df.drop_duplicates(subset="hashed")
df_2.Value.mean()

-5.5010393431730815

In [24]:
df_2.groupby("Value").count()

       StateRepresentation   Moves  MovesEncoded  hashed
Value
-19                     24      24            24      24
-18                     72      72            72      72
-17                    264     264           264     264
-16                   1656    1656          1656    1656
-15                   3456    3456          3456    3456
-14                   7656    7656          7656    7656
-13                  14856   14856         14856   14856
-12                  25584   25584         25584   25584
-11                  39840   39840         39840   39840
-10                  56616   56616         56616   56616
-9                   74664   74664         74664   74664
-8                   93876   93876         93876   93876
-7                  111228  111228        111228  111228
-6                  127680  127680        127680  127680
-5                  145116  145116        145116  145116
-4                  164300  164300        164300  164300
-3                  178576  178576        178576  178576
-2                  153484  153484        153484  153484
-1                   65312   65312         65312   65312

In [25]:
df_3 = df.sort_values('Value', ascending=False).drop_duplicates('hashed').sort_index()

In [26]:
df_3.Value.mean()

-5.500944425988325

In [14]:
df_3.shape

(879224, 5)

In [16]:
df_3.groupby("MovesEncoded").count()

TypeError: unhashable type: 'numpy.ndarray'

In [27]:
from talos.model.normalizers import lr_normalizer

from keras.optimizers import Adam, Nadam

Using TensorFlow backend.

In [31]:
lr_normalizer(7.3, Adam)

0.0073